
.description {
  font-size: 1.25em;
  margin-bottom: 2rem;
}

.heading {
  margin: 8rem 0 1rem 0;
  font-size: 4em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3rem 0 3rem;
}

.quiz-btn {
  border-radius: .25rem; 
  background-color: #D5FFF3; 
  cursor: pointer;
  padding: .4rem;
  text-decoration: none;
  color: black;
}

.quiz-btn:hover {
  background-color: lightgrey;
}

